ul{padding:5px
10px}}@media screen and (device-aspect-ratio: 40/71){#branding{min-height:100% !important}#logo
img{width:100% !important}}.pln{color:#000}@media
screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}.post.entry-content pre ol, .post_body pre ol, .as_content pre ol, .comment_content pre ol,ol.linenums{margin-left:40px !important;margin-top:0 !important;margin-bottom:0 !important;color:#AEAEAE !important}li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{list-style-type:decimal !important;list-style-position:outside !important;padding:2px
0 !important}li.L1,li.L3,li.L5,li.L7,li.L9{background-color:#f5f5f5}@media
print{pre .str, code
.str{color:#060}pre .kwd, code
.kwd{color:#006;font-weight:bold}pre .com, code
.com{color:#600;font-style:italic}pre .typ, code
.typ{color:#404;font-weight:bold}pre .lit, code
.lit{color:#044}pre .pun, code
.pun{color:#440}pre .pln, code
.pln{color:#000}pre .tag, code
.tag{color:#006;font-weight:bold}pre .atn, code
.atn{color:#404}pre .atv, code
.atv{color:#060}}

pre.prettyprint {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #c9c9c9;
    bottom: auto !important;
    box-sizing: content-box !important;
    float: none !important;
    font-family: "Courier New",Courier,monospace !important;
    font-size: smaller;
    font-style: normal !important;
    font-weight: normal !important;
    height: auto !important;
    left: auto !important;
    line-height: 1.1em !important;
    margin: 0 !important;
    max-height: 450px;
    min-height: auto !important;
    outline: 0 none !important;
    overflow: auto;
    padding: 5px;
    position: static !important;
    right: auto !important;
    text-align: left !important;
    top: auto !important;
    vertical-align: baseline !important;
    width: auto !important;
}

p.citation {
    background: none repeat scroll 0 0 #cce1d1;
    border-left: 2px solid #989898;
    border-radius: 5px 5px 0 0;
    border-right: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 10px;
}

.ipsType_textblock {
    color: #282828;
    line-height: 1.5;
}

blockquote.ipsBlockquote {
    font-size: 12px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #f7f7f7;
    overflow-x: auto;
    padding: 0px;
    border-color: #e5e5e5 #e5e5e5 #e5e5e5 #989898;
    line-height: 160%;
    border-radius: 5px;
}

div.bbc_spoiler_wrapper {
    border: 1px inset #777;
}

.desc, .desc.blend_links a, p.posted_info {
    color: #777;
    font-size: 12px;
}

/* Style definition file generated by highlight 3.18, http://www.andre-simon.de/ */

/* Highlighting theme: Visual Studio IDE */

body.hl	{ background-color:#ffffff; }
pre.hl	{ color:#000000; background-color:#ffffff; font-size:10pt; font-family:'Courier New',monospace; line-height: 99%;}
.hl.num { color:#000000; }
.hl.esc { color:#a31515; }
.hl.str { color:#a31515; }
.hl.pps { color:#0000ff; }
.hl.slc { color:#008000; }
.hl.com { color:#008000; }
.hl.ppc { color:#0000ff; }
.hl.opt { color:#000000; }
.hl.ipl { color:#a31515; }
.hl.lin { color:#2b91af; }
.hl.kwa { color:#0000ff; }
.hl.kwb { color:#0000ff; }
.hl.kwc { color:#2b91af; }
.hl.kwd { color:#000000; }

.nav
{
    text-align: right;
}

.nav a
{
    color: white;
    padding-left: 0.5em;
}
